body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5{
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
   background-image: url("img/ford.jpeg");
   min-height: 100%;
 }

 .bgimg-5 {
    background-image: url("img/meeting.jpeg");
    min-height: 100%;
  }

.bgimg-4 {
   background-image: url("img/carback.jpg");
   min-height: 100%;
 }

.bgimg-2 {
  background-image: url("img/maseratti.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("img/rolls.jpg");
  min-height: 400px;
}

.menubar{
  position: fixed;
  margin-top: 30px;
  margin-left: 30px;
    

}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

.active a{
  background-color:#455A64 !important;
}

.nav nav-pills{

  color:white;
}

#display_cars tr:hover > tr {
  outline: thin solid #448AFF;
}