<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <base href="/">
    <meta charset="utf-8"/>

    <script src="js/jq.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

    <!-- Latest compiled and minified JavaScript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="js/countries.js"></script>

    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id = "edit_country">
    <div class="form-group" style="margin-left: 5%; padding:20px;">
        <div class="form-group row">
            <label for="updateCountryName" class="col-2 col-form-label">Company name</label>
            <div class="col-10">
                <input type="text"  id="updateCountryName" th:value="${countryToEdit.getCountryName()}">
            </div>
        </div>

        <button type="button" class="submit"
                th:onclick="'javascript:updateCountry(\'' + ${countryToEdit.getCountryId()} + '\');'">Update</button>
        <div style="display:none" id="returnButton"><a class="btn btn-primary"
                                                       th:href="@{/countries}">Go back to countries information</a></div>
        <div class="alert alert-success" role="alert" style="display: none" id="succesUpMessage">...</div>
        <div class="alert alert-danger" role="alert" style="display: none" id="failUpMessage">...</div>
    </div>
</div>
</body>
</html>